.App {
  text-align: center;
}

.nav{
  background: rgb(15, 104, 194);
  color:thistle;
}
.header-text{
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
}

.header-text:hover{
  color: aliceblue;
  text-decoration: none;
}

.breadcumbs .breadcrumb-item a{
  text-decoration: none;
  background-color: #fff !important;
}
.gen-list{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.rating{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.rate-from{
  font-size: 20px;
  font-weight: normal;
  color: rgb(193, 195, 197);
}

.term{
  float: left;
}

.banner{
  width: 50px;
}

.tag{
  margin-left: 5px;
}


